if SHIELD_MODULATE_LEFT

config ZMK_KEYBOARD_NAME
    string
    default "Modulate"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    bool
    default y

endif

if SHIELD_MODULATE_LEFT || SHIELD_MODULATE_RIGHT

config ZMK_SPLIT
    bool
    default y

endif
